# Auto detect text files and perform LF normalization
* text=auto

# ignore file form release
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.editorconfig export-ignore
.vscode export-ignore
CONTRIBUTING.md export-ignore
README.md export-ignore
LICENSE export-ignore
script export-ignore
update.py export-ignore
version.txt export-ignore
dzx_filter/filter_group export-ignore
dzx_filter/css export-ignore
dzx_filter/fonts export-ignore
dzx_filter/images export-ignore'
dzx_filter/index.html export-ignore
index.html export-ignore
