# Auto detect text files and perform LF normalization
* text=auto

# Ignore everything except latest release
* export-ignore

# Keep only the latest release folder (dynamic)
!releases/
releases/* export-ignore
!releases/v*/
!releases/v*/**/*

# Keep essential files for release
!config/
!dzx_filter/
!*.filter
!install.*
!LICENSE
!README.md