# Auto detect text files and perform LF normalization
* text=auto

# Ignore everything except latest release
* export-ignore

!releases export-ignore

# Keep essential files for release
!config/
!dzx_filter/
!*.filter
!install.*
!LICENSE
!README.md